body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  position: relative;
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  text-align: center;

  background-color: #ffffff;
}

.inner-page .container {
  padding:;
}
.title {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 21px;
  color: #000000;
}

.title--white {
  color: #ffffff;
}

.title--height {
  line-height: 26px;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.button--blue {
  background-color: #81b3d2;
}

.button--blue:hover,
.button--blue:focus {
  background-color: #669ec0;
}

.batton--blue:active {
  opacity: 0.5;

  background-color: #5496bd;
}

.button--brown {
  background-color: #766357;
}

.button--brown:hover,
.button--brown:focus {
  background-color: #604e43;
}

.batton--brown:active {
  opacity: 0.5;

  background-color: #503e33;
}

.menu {
  position: relative;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;

  list-style: none;
}

.menu__item {
  width: 20%;
  padding: 15px 0;
}

.menu__item:nth-child(2) {
  margin-right: auto;
}

.menu__link {
  color: #000000;
}

.menu__link:hover,
.menu__link:focus {
  color: #81b3d2;
}

.menu__link:active,
.menu__link--active {
  color: #766357;
}

.menu__link--active:hover,
.menu__link--active:focus {
  color: #766357;
}

.logo {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 138px;
  height: 70px;
  z-index: 1;
}

.slogan {
  padding-top: 76px;
  padding-bottom:80px;

  background-color: #ffffff;
  background-image: url("../img/bg-bottom.png"), url("../img/bg-top.jpg");
  background-position: bottom center, top center;
  background-repeat: no-repeat;
  background-size: auto, auto;
}

.slogan__picture {
  width: 458px;
  height: 352px;
}

.description .title {
  margin: 0;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 62px;
  padding-bottom: 35px;
}

.description__text {
  margin: 0;
  margin-bottom: 56px;

  line-height: 26px;
}

.advantage {
  display: flex;
  justify-content: space-between;
}

.advantage--gray {
  margin-bottom: 57px;

  background-color: #eeeeee;
}

.advantage__text {
  width: 33%;
  margin: 0;
  padding: 0 5%;
  padding-top: 50px;
  padding-bottom: 65px;
}

.advantage__text p {
  margin: 0;
}

.advantage__text .title {
  padding: 0 23%;
}

.advantage__photo {
  width: 67%;
}

.advantage--blue {
  color: #ffffff;

  background-color: #81b3d2;
}

.features__list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  padding-top: 134px;

  list-style: none;
}

.features__item {
  width: 33%;
  margin: 0;
  margin-bottom: 85px;
  padding: 0 4%
}

.features__item .title {
  padding: 30px 0;
}

.features__text {
  margin: 0;
}

.advantage__number {
  padding-top: 25px;
  padding-bottom: 25px;
}

.search b {
  font-size: 30px;
  line-height: 36px;
}

.search p {
  margin: 0;
  margin-top: 27px;
  margin-bottom: 50px;
}

.search .button {
  display: block;
  padding: 30px 0;
  margin: 0 auto;
  width: 568px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.popup__wrapper {
  display: flex;
  justify-content: center;
}

.popup {
  position: absolute;
  width: 568px;
  height: 395px;

  background-color: #ffffff;
}

.popup-form__field {
  font: inherit;

  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.popup-form__field:hover {
  background-color: #ebebeb;
  outline: none;
}

.popup-form__field:focus {
  background-color: #ffffff;
  border: 2px solid #f2f2f2;
  outline: none;
}

.popup-form__label {
  line-height: 26px;
}

.number__field {
  font: inherit;

  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.number__field:hover {
  background-color: #ebebeb;
  outline: none;
}

.number__field:focus {
  background-color: #ffffff;
  border: 2px solid #f2f2f2;
  outline: none;
}

.map p {
  margin: 0;
  padding: 0;
}

.filter {
  color: #ffffff;

  background-color: #81b3d2;
  background-image: url("../img/bg-filter.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto;
}

.filter fieldset {
  padding: 0;
  margin: 0;

  border: none;
}

.filter__form {
  display: flex;
  justify-content: space-between;
}

.filter__wrapper {
  width: 40%;
}

.filter__wrapper--col {
  display: flex;
  justify-content: space-around;
}

.filter__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter__type {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.range__field input {
  font: inherit;

  color: #ffffff;
  text-align: center;
  line-height: 21px;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid #ffffff;
}

.button--transparent {
  color: #ffffff;

   background-color: transparent;
   border: 2px solid #ffffff;
}

.button--transparent:hover,
.button--transparent:focus {
  color: #000000;

  background-color: #ffffff;
}

.sorting {
  display: flex;
}

.sorting__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 6%;
  padding: 30px 0;
  align-items: center;
  list-style: none;
}

.sorting__sum {
  padding-right: 50px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting__title {
  padding-right: 40px;
}

.sorting__item {
  padding-right: 33px;

  font-size: 12px;
  line-height:18px;
}

.sorting__change {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: 6%;
  align-items: center;

  list-style: none;
}

.sorting__change li {
  padding-left: 10px;
}

.sorting__link {
  color: #000000;
  opacity: 0.5;

  border-bottom: 1px dotted #81b3d2;
}

.sorting__link:hover,
.sorting__link:focus {
  color: #81b3d2;
}

.sorting__link:active {
  color: #000000;
  opacity: 1;

  border: none;
}

.sorting__link--active {
  color: #81b3d2;

  border: none;
}

.sorting__triangel {
  color: #000000;
  opacity: 0.5;
}

.sorting__triangel--active {
  color: #81b3d2;
  opacity: 1;
}

.sorting__triangel:hover,
.sorting__triangel:focus {
  opacity: 1;
}

.sorting__triangel:active {
  color: #81b3d2;
  opacity: 1;
}

.hotel {
  display: flex;
  flex-wrap: wrap;

  max-width: 100%;
  padding: 30px 6%;

  border-top: 1px solid #e5e5e5;
}

.hotels:last-child {
    border-bottom: 1px solid #e5e5e5;
}

.hotel__photo {
  margin-right: 30px;
}

.hotel__description p {
  margin: 0;
}

.hotel__rating {
  margin-left: auto;
}

.hotel__rating p {
  margin: 0;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  background-color: rgba(249, 251, 246, 0.9);
}

.inner-page .page-footer {
  position: static;

  background-color: #fefefe;
}

.page-footer__hotel {
  background-color: #ffffff;
}

.footer__teg {
  width: 33%;
}

.footer__social {
  width: 33%;
}

.social__button {
  width: 46px;
  height: 48px;
  color: #ffffff;

  background-color: #81b3d2;
}

.social__button:hover,
.social__button:focus {
  background-color: #669ec0;
}
.social__button:active {
  color: #88b6d1;

  background-color: #5496bd;
}

.footer__copyright {
  width: 33%;
}

.copyright:hover path,
.copyright:focus path {
  fill: #81b3d2;
}

.copyright:active path {
  fill: #c9c8c8;
}
