body {
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: normal;
  text-transform: uppercase;
}

.title {
  font-weight: bold;
  font-size: 21px;
  color: #000000;
}

.title--white {
  color: #ffffff;
}

.title--height {
  line-height: 26px;
}

.visually-hidden {
  visibility: hidden;
}
